.tag-bubble.pgn__chip {
  border-color: $light-300;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;

  &:hover {
    .pgn__chip__icon-before * {
      color: $white;
      fill: $white;
    }
    .pgn__chip__label {
      color: $white;
    }
    background-color: $dark;
    border-color: $dark;
  }
}
